*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
body{ min-width: 315px;
    max-width: 768px;
    margin: 0 auto;
    color: #333;
    font-family: "Microsoft Yahei";
    text-align: center;
    background: #F2F2F2;
}
header{
    width: 100%;
    height: 55px;
    background: #fff;
}
header .h_ul1{
    width: 100%;
    height: 50px;
    background: #000;
    position: fixed;
    z-index: 99999;
}
header .h_ul1 li{
    float: left;
    padding: 5px;
}
/*header .h_ul1 li:nth-of-type(1){*/
/*width: 5%;*/
/*height: 20px;*/
/*margin-left: 5%;*/
/*}*/
/*header .h_ul1 li:nth-of-type(1) img{*/
/*width: 100%;*/
/*-webkit-background-size: 100%;*/
/*background-size: 100%;*/
/*}*/
header .h_ul1 li:nth-of-type(2) input{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color:rgba(62,62,62,.8);
    color: #CBCBCB;text-align: center;
    z-index: 99; position: relative;
    margin-left: 6%;
}
header .h_ul1 li:nth-of-type(2) span{
    display: block;
    width: 80%;
    height: 18px;
    background: url("../images/index_ss.jpg")no-repeat  ;
    z-index: 9999;
    position: absolute;
    top:25%;left:20%;
}
header .h_ul1 li:last-child{
    float: right;padding: -2%;
    margin-right: 7%;
}
/*main*/
main{
    width: 100%;
    height: 3060px;
}
main .m1{position: relative;
    width: 100%;
    height: 2900px;
    background: #fff;
}
main .m1 .banner{
    width: 100%;
    height: 350px;
}
main #bd{
    width: 25%;
    height: 40px;
   /*border: 1px solid #ccc;*/
   position: absolute;
    top:11%;
    left:38%;z-index: 999999;
}
main  #bd  a{display: block;
    width:12px;
    height: 12px;
    border: 1px solid #333;
    border-radius: 50%;
    float: left;z-index: 999999;
    background: #000;
    margin-left: 7%;
    background: rgba(255,255,255,.5);
}
#bd a:hover{display: block;
    background: pink;z-index: 999999;
}
  #m_banner{
    width: 100%;
    height: 350px;
      /*border: 1px solid #ccc;*/
      position: absolute;
      top:20px;
}
  #m_banner .b_li1{
    width: 100%;
    height: 360px;
    background: url("../images/sc_banner1.jpg")no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;z-index: 9;
     position: absolute;
}
 #m_banner .b_li2:target{  width: 100%;
    height: 350px;z-index: 999;
    background: url("../images/sc_banner2.jpg")no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
     animation: m1 1s 1;
}
 @keyframes m1 {
     0%{
         position: absolute;
         top:0px;left:-100%;
     }
     100%{
         position: absolute;
        left:0px;top:0px;
     }
 }
 #m_banner .b_li3:target{  width: 100%;
    height: 350px;z-index: 999;
    background: url("../images/sc_banner3.jpg")no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
}
 #m_banner .b_li4:target{  width: 100%;
    height: 350px;z-index: 999;
    background: url("../images/sc_banner2.jpg")no-repeat center center;
     -webkit-background-size: cover;
     background-size: cover;
     margin-top: -10px;
}
main .m1 .m_ul1{
    width: 100%;
    height: 70px;
    background: #fff;
    z-index: 9999;
}
main .m_ul1 li{
    float: left;
    width: 18%;
    height: 65px;
    text-align: center;
    margin: 3% 0 0 2%;
}
main .m_ul1 li img{
    width: 50%;
    height: 35px;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 5%;
}
main .m_ul1 li:nth-of-type(3){
    height: 75px;
    margin-top: 1%;
}
main .m_ul1 li:nth-of-type(3) img{display: block;
    width: 70%;
    height: 47px;text-align: center;
    margin-left: 25%;
}
main .m_ul1 li span{
    display: block;
    color: #959595;
}
main .m_ul1 li:hover span{
    color: #A6956B;
}
main .m_ul2{
    width: 100%;
    height: 50px;
    background: #FFF;
    position: fixed;
    z-index: 999999;
    top:50px;
    display: none;
}
main .m_ul2 li{
    float: left;
    width: 16%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
main .m_ul2 li a{
    color: #A2A2A2;
    font-size: 15px;
}
main .m_ul2 li:hover {
    display: block;
    border-bottom: 3px solid #ccc;
}
main #time{
    width: 40%;
    height: 100px;
    line-height: 80px;
    margin: 0 auto;
    color: brown;
    font-weight: bolder;
}
main #time h4{display: block;
    width: 60%;
    height: 20px;
    margin-bottom: 10%;
    margin-left: 23%;
}
main .m_ul3{
    width: 100%;
    height: 360px;
    background: #fff;position: relative;
}
main .m_ul3 li:nth-of-type(1){
    width: 100%;
    height: 190px;
}
main .m_ul3 li:nth-of-type(1) img{
    width: 100%;
    height: 190px;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 5%;
    margin-left: -1%;
}
main .m_ul3 .li2{float: left;
    width: 32%;
    height: 100px;
    margin-left: 1%;
}
main .m_ul3 .li2 img{
    width: 100%;
    height: 110px;
    -webkit-background-size: cover;
    background-size: cover;
}
main .m_ul3 li:last-child{
    width: 40%;
    height: 30px;
    background: url("../images/sc_xnr7.jpg")no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 5%;left:30%
}
main .ys{
    width: 100%;
    height: 280px;
    background: #fff;
    margin-bottom: 2%;
}
main .m_ul5{
    width: 100%;
    height: 480px;
    background: #fff;
    margin-top: 3%;
}
main .m_ul5 li:nth-of-type(1) img{  display: block;
    margin: 0px auto;
}
main .m_ul5 li:nth-of-type(2){
    width: 100%;
    height: 250px;
}
main .m_ul5 li:nth-of-type(2) video{
    width: 100%;
    height: 250px;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-bottom: 3%;
}
main .m_ul5 .li5_2{
    width: 40%;float: left;
    height: 150px; margin: 5%;
}
main .m_ul5 .li5_2 img{
    width: 100%;
    height: 150px;
    -webkit-background-size: 100%;
    background-size: 100%;
}
main .center{
    width: 100%;
    height: 450px;
    background: #fff;
    margin-top: 3%;
}
main .center dl dt img{display: block;
    margin: 10px auto;
}
main .center dl dd{
    width: 100%;
    height: 200px;
    margin-left: -1%;
}
main .center dl dd img{
    width: 100%;
    height: 200px;
    -webkit-background-size: 100%;
    background-size: 100%;
}
main .m_ul4{
    margin: 2%;
    width:100%;
    height: 170px;
    background: #fff;
    overflow-x: auto; white-space: nowrap;
}
main .m_ul4 .center2{
    width: 100%;
    height:110%; overflow: hidden;
}
main .m_ul4 li{
    width: 150px;
    height: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}
main .m_ul4 li img{
    width:45% ;
    height: 80px;
    -webkit-background-size: cover;
    background-size: cover;
}
main .m_ul4 li span{
    display: block;
}
main .m_ul4 li:last-child{
    width: 150px;
    height: 150px;text-align: center;
    border: 1px solid #D4D4D4;
    margin-right: 5%;
}
main .m_ul4 li:last-child span{
    width: 30%;
    height: 30px;
    line-height: 30px;
    margin-top: 30%;
    margin-bottom: 5%;
    display: inline-block;
    border-bottom: 1px solid #E4E4E4;
}
main .m_ul4 .li1{
    font-size: 20px;
}
::-webkit-scrollbar {
    display: none;
}
main .center2{
    height: 380px;
}
main .m_nx{
    width: 100%;
    height: 1000px;
    background: #fff;
}
main .m_nx dt img{
    display: block;
    margin: 0 auto;
}
main .m_nx dd{float: left;
    width: 46%;
    height: 170px;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    box-shadow: 3px 3px 4px #ccc ;
    margin: 2% 2%;text-align: center;
}
main .m_nx dd img{display: block;
    width: 45%;
    height: 100px;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 0 auto;
}
main .m_nx dd span{display: block;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #000;
    margin-top: -5%;
}
/*main 第二部分*/
main .m2_lb{
    width: 100%;
    height: 40px;
    background: #fff;
}
main .m2_lb li{float: left;
    width: 23%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
main .m2_lb li:nth-of-type(2)>.m2_dl{
    width: 60%;
    height: 1000px;
    background: #fff;
    position:absolute;
    right:0px;display: none;
    top:40px;
    z-index: 99999999;
}
main .m2_lb li:nth-of-type(2)>.m2_dl dt{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #666;
}
main .m2_lb li:nth-of-type(2)>.m2_dl dd{
    height: 40px;
    border-bottom: 1px solid #ccc;text-align: left;
    /*line-height: 40px;*/
    /*padding-left: 5%;color: #000;*/
}
main .m2_lb .lb_li2:hover .m2_dl{
    display: block;
}
main .m2_lb li a{
    color: #ABABAB;
}
main .m2_lb li:hover a{
    color:#000;
}
main .m2_xb{
    width: 100%;
    height: 1000px;
    background: #fff;
}
main .m2_xb dt img{
    display: block;
    margin: 0 auto;
}
main .m2_xb dd{float: left;
    width: 50%;
    height: 270px;
    border: 1px solid #ccc;
    /*border-radius: 5px;*/
    /*box-shadow: 3px 3px 4px #ccc ;*/
   text-align: center;
}
main .m2_xb dd img{display: block;
    width: 45%;
    height: 150px;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 0 auto;
}
main .m2_xb dd span{display: block;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #000;
    margin-top: -5%;
}
main .m2_nb dd img{
    display: block;
    width: 42%;
}
/*footer*/
footer{
    width: 100%;
    height: 60px;
    background: #1A1A1A;
    position: fixed;
    z-index: 99999;
    bottom:0px;
}
footer .f_ul1 li{
    width: 18%; height : 55px;text-align: center;
    background: url("../images/footer_l1.jpg") no-repeat center center;
    float: left;
    line-height: 55px;
    margin-left: 2%;
}
footer .f_ul1 .f_li2{
    background: url("../images/footer_li2.jpg") no-repeat center center;
}
footer .f_ul1 .f_li3{
    background: url("../images/footer_li3.jpg") no-repeat center center;
}
footer .f_ul1 .f_li4{
    background: url("../images/footer_li4.jpg") no-repeat center center;
}
footer .f_ul1 .f_li5{
    background: url("../images/footer_li5.jpg") no-repeat center center;
}
/*footer .f_ul1 .f_li2:hover{width: 18%; height : 55px;*/
    /*background: url("../images/footer_l2.jpg")no-repeat center center;*/
/*}*/
/*footer .f_ul1 .f_li3:hover{width: 18%; height : 55px;*/
    /*background: url("../images/footer_l3.jpg")no-repeat center center;*/
/*}*/
/*footer .f_ul1 .f_li4:hover{width: 18%; height : 55px;*/
    /*background: url("../images/footer_l4.jpg")no-repeat center center;*/
/*}*/
/*footer .f_ul1 .f_li5:hover{width: 18%; height : 55px;*/
    /*background: url("../images/footer_l5.jpg")no-repeat center center;*/
/*}*/
/*footer .f_ul1  .f_li1:hover{width: 18%; height : 55px;*/
    /*background: url("../images/footer_li1.jpg")no-repeat center center;*/
/*}*/
@media (min-width: 360px) {
    header .h_ul1 li:nth-of-type(2){
        margin-left: -5%;
    }
    header .h_ul1 li:nth-of-type(3) img{
        position: absolute;
        top:0px;
        right:5px;
    }
}
@media (min-width: 320px) {
    header .h_ul1 li:nth-of-type(2){
        margin-left: -5%;
    }
    header .h_ul1 li:nth-of-type(2) input{
        display: inline-block;
        padding: 10px 0px;
    }
    header .h_ul1 li:nth-of-type(3) img{
        position: absolute;
        top:0px;
        right:5px;
    }
    main #time{
        width: 60%;
    }
    main .banner{
        height: 350px;
    }
    main #m_banner {
        position: absolute;
    }
    main #bd{
      display: none;
    }
}
@media(min-width: 768px){
    header .h_ul1 li:nth-of-type(1){
        margin-left: 8%;
    }
    header .h_ul1 li:nth-of-type(2) input{display: block;
        margin-left: 10%;
        padding: 10px 90px;
    }
    header .h_ul1 li:nth-of-type(3){
        position: absolute;
        top:0px;right:50px;}
}